# MacOS
.DS_Store
# Jupyter Notebook
.ipynb_checkpoints

# Vscode setting
.vscode

# Pickle files that are too large
tree_based_models/ensemble/models/bagging/*.pkl

# Cache
**__pycache__

# PDM
.pdm-python

# Uv
.python-version
